.menu-container {
  width: 80%;
  margin: auto;
  padding: 40px 0;
}

.menu-title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 40px;
  font-weight: bold;
  color: black;
}

.menu-category {
  margin-bottom: 50px;
}

.cat-title {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: bold;
  color: black;
  text-align: center;
}

/* Table Styling */
.menu-table {
  width: 100%;
  background-color: #f5e4c3; /* beige */
  border-radius: 10px;
  padding: 10px;
  border-collapse: collapse;
}

.menu-table td {
  padding: 15px 20px;
  font-size: 18px;
  border-bottom: 1px solid #d8c4a0;
  color: black; /* Name & price color black */
}

.menu-table tr:last-child td {
  border-bottom: none;
}

.menu-table td:last-child {
  text-align: right;
  font-weight: bold;
}
