/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fef7f4;
  padding: 14px 50px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo */
.navbar-logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
}
.navbar-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.6);
}

/* Links */
.navbar-links {
  display: flex;
  list-style: none;
  gap: 35px;
}
.navbar-links li a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  color: #0d1b2a;
}
.navbar-links li a:hover {
  color: #fca311;
}

/* Buttons */
.navbar-auth {
  display: flex;
  gap: 18px;
}

.btn {
  padding: 8px 20px;
  border: none;
  border-radius: 22px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  background-color: #8b4513;
  color: #fff;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #a0522d;
  transform: scale(1.05);
}

/* CART BUTTON SAME STYLE */
.cart-btn {
  background-color: #8b4513;
}
